{% extends 'body.html' %}
{% block body %}
<h1>Welcome on StockTracker - site that tracks Your stocks</h1>
<a href="/refresh">refresh prices</a> 
<div class="w3-container">
<div class="page-content">

<table>
    <tr>
        <th width="18%">name</th>
        <th width="13%">amound</th>
        <th>price</th>
        <th>change %</th>
        <th>change abs</th>
        <th>starting value</th>
        <th>total value</th>
        <th>actions</th>
    </tr>
    {% for item in items %}
    <tr>
        <th>{{ item.symbol }}</th>
        <th>{{ item.count }}</th>
        <th>{{ item.last_price }}</th>
        <th>{{ item.change_rel }}</th>
        <th>{{ item.change_absolute }}</th>
        <th>{{ item.count*item.starting_price }}</th>
        <th>{{ (item.count*item.last_price ) }}</th>
        <th>    
            <a href="/delete/{{ item.id }}">    delete </a>    
            <a href="/modify/{{ item.id }}">    modify </a>
        </th>
    </tr>
    {% endfor %}
    
</table><br>

</div>
</div>





<form action="/add_item" method="POST">
Add item:<br/>
    <input type='text' name="stock_symbol" placeholder="stock name .. "/>
    <input type="text" name="count" placeholder="count "/>

    <input type="submit" value="Submit"/>
</form>



{% endblock %}