{% extends 'body.html' %}
{% block body %}
<p>
witaj, {{ current_user.username }} 
<a href="{{ url_for('index') }}">index</a>
<a href="{{url_for('logout')}}">logout</a>
</p>
<h1>witam na mojej stronie</h1>
<a href="/refresh">refresh prices</a> 
<div class="w3-container">
<div class="page-content">

<table>
    <tr>
        <th>name</th>
        <th  width="23%">amound</th>
        <th>price</th>
        <th>change %</th>
        <th>change abs</th>
        <th>starting value</th>
        <th>total value</th>
        <th>actions</th>
    </tr>
    {% for item in items %}
    <tr>
        <th>{{ item.symbol }}</th>
        <th>{{ item.count }}</th>
        <th>{{ item.last_price }}</th>
        <th>{{ item.change_rel }}</th>
        <th>{{ item.change_absolute }}</th>
        <th>{{ item.count*item.starting_price }}</th>
        <th>{{ item.count*item.last_price }}</th>
        <th>    
            <a href="/delete/{{ item.id }}">    delete </a>    
            <a href="/modify/{{ item.id }}">    modify </a>
        </th>
    </tr>
    {% endfor %}
    
</table><br>

</div>
</div>


<!-- {% if item_to_mod %}  
<h4>modify {{ item_to_mod.symbol }}:</h4>
<form action="/modify/{{ item_to_mod.id }}" method="POST">
 <input type='text' name="new_count" value="{{ item_to_mod.count }}" size=3 checked=True/>
 <input type="submit" value="OK"/>
</form>        
{% endif %} -->

<br/>
<br/>

<form action="/add_item" method="POST">

    <input type='text' name="stock_symbol" placeholder="stock name .. "/>
    <input type="text" name="count"/>
    <!-- <label for="stock_symbol">stock name</label> -->

    <input type="submit"/>
</form>



{% endblock %}